{% extends 'workouts/base.html' %}

{% block title %}Welcome to Gym Tracker{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>Welcome to Gym Tracker!</h1>
    <p class="lead">Your personal fitness companion.</p>
    <hr>
    {% if not user.is_authenticated %}
        <p>Please <a href="{% url 'login' %}">log in</a> to track your workouts.</p>
        <p>Don't have an account? <a href="{% url 'signup' %}" class="btn btn-success">Sign Up Now!</a></p>

    {% else %}

        <p>Go to your <a href="{% url 'workouts:dashboard' %}">Dashboard</a>.</p>
    {% endif %}
</div>
{% endblock %}